<div class="cardapio-page">
  <div class="menu-section">
    <div class="top-area">
      <div>
        <h1>DIDIO PIZZA</h1>
      </div>

      <div class="search-box">
        <input type="text" placeholder="Buscar pizza, bebida..." [(ngModel)]="busca" />
      </div>
    </div>

    <div class="filters">
      <button [class.active]="categoriaSelecionada === ''" (click)="selecionarCategoria('')">
        TODAS
      </button>

      <button
        *ngFor="let categoria of categorias"
        [class.active]="categoriaSelecionada === categoria.nome"
        (click)="selecionarCategoria(categoria.nome)"
      >
        {{ formatarCategoria(categoria.nome) }}
      </button>
    </div>

    <h2>CARDÁPIO</h2>

    <div class="pizza-grid">
      <div
        class="pizza-item"
        *ngFor="let produto of produtosFiltrados"
        (click)="adicionarCarrinho(produto)"
      >
        <div class="info">
          <h3>
            {{ produto.nome }}
          </h3>

          <p>
            {{ produto.descricao }}
          </p>

          <strong>
            R$
            {{ produto.preco }}
          </strong>
        </div>

        <img [src]="produto.imagem" [alt]="produto.nome" />
      </div>
    </div>
  </div>

  <aside class="cart-section">
    <div class="cart-header">
      <h2>Seu Pedido</h2>

      <div class="cart-badge">
        {{ carrinho.length }}
      </div>
    </div>

    <div class="cart-item" *ngFor="let item of carrinho">
      <div class="details">
        <strong>
          {{ item.nome }}
        </strong>

        <small>
          {{ item.tamanho }}
        </small>
      </div>

      <div class="cart-right">
        <strong class="cart-price">
          R$
          {{ (item.preco * item.quantidade).toFixed(2) }}
        </strong>

        <button class="btn-remove" (click)="removerCarrinho(item); $event.stopPropagation()">
          Remover
        </button>
      </div>
    </div>

    <div class="cart-summary">
      <div class="row">
        <span> Subtotal </span>

        <span>
          R$
          {{ subtotal.toFixed(2) }}
        </span>
      </div>

      <div class="row">
        <span> Taxa de entrega </span>

        <span> R$ 8,00 </span>
      </div>

      <div class="row total">
        <span> Total </span>

        <span>
          R$
          {{ total.toFixed(2) }}
        </span>
      </div>
    </div>

    <button class="btn-finalizar" (click)="finalizarPedido()">Finalizar Pedido →</button>
  </aside>
</div>
