form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    color: white;
    background-color: #012344;
    border-radius: 30px;
    width: 110px;
    height: 45px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #1a1919;
    transform: scale(1.05);
}