form {
    width: 380px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    text-align: center;
    color: #080241;
    margin-bottom: 10px;
    font-weight: 600;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;

    font-size: 14px;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #080241;
    box-shadow: 0 0 6px rgba(8, 2, 65, 0.3);
}

input[type="date"] {
    color: #555;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #080241;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.voltar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: #080241;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.voltar:hover {
    background: #1a0f6b;
    transform: scale(1.05);
}